@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 100, 0.2) 0 0 29px 0;
  padding: 0 20px;
}

body * {
  font-family: "NanumPenScript";
}

:root {
  --emotion-1: rgb(100, 201, 100);
  --emotion-2: rgb(157, 215, 114);
  --emotion-3: rgb(253, 206, 23);
  --emotion-4: rgb(253, 132, 70);
  --emotion-5: rgb(253, 86, 95);
}
