.section,
.section * {
    transition: all 0.3s;
}

.section {
    min-height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    padding: 0 20px;

    &.dark {
        background-color: #24292d;

        .container {
            background-color: #323840;

            .icons i {
                color: #fff;
            }

            .time {
                .time-colon {
                    .am_pm {
                        color: #fff;
                    }

                    .time-text {
                        background-color: #24292d;

                        & .num,
                        & .colon,
                        & .text {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220px;
        max-width: 560px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        position: relative;

        .icons i {
            position: absolute;
            top: 17px;
            right: 17px;
            height: 30px;
            width: 30px;
            color: #323840;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 14px;
            cursor: pointer;

            &.fa-sun {
                opacity: 0;
                pointer-events: none;
            }
        }

        .time {
            display: flex;
            align-items: center;

            .time-colon {
                display: flex;
                align-items: center;
                position: relative;

                .am_pm {
                    position: absolute;
                    top: 0;
                    right: -50px;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 1px;
                }

                .time-text {
                    height: 100px;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    background-color: #f0f8ff;
                    border-radius: 6px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

                    .num,
                    .colon {
                        font-size: 35px;
                        font-weight: 600;
                    }

                    .text {
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 2px;
                    }
                }

                .colon {
                    font-size: 40px;
                    margin: 0 10px;
                }
            }
        }
    }
}
