@import "../../styles/global.scss";

.nav {
  @include center-sb;
  width: calc(100% - 100px);
  height: 10%;
  padding: 0 50px;

  svg {
    color: rgb(255, 255, 255);
    // font-size: 1.15rem;
    width: 20px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: #799ed0;
    }
  }
}
