.container {
  width: 1520px;
  height: 352px;
  margin: 34px 80px 0;
  display: flex;
  gap: 20px;
}

.group {
  width: 493px;
  height: 352px;
}

.group img {
  width: 108px;
  height: 108px;
}

.title {
  width: 493px;
  height: 36px;
  margin-top: 40px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1.5%;
  font-weight: 700;
}

.desc {
  width: 493px;
  height: 90px;
  margin-top: 24px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1.5%;
}

.button {
  width: 493px;
  height: 30px;
  margin-top: 24px;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1.5%;
  color: #18a0fb;

  cursor: pointer;
}
