.container {
  max-width: 1520px;
  margin: 34px 80px 0;
  display: flex;
  gap: 20px;
}

.group {
  max-width: 493px;
}

.infoGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.group img {
  width: 108px;
  height: 108px;
}

.title {
  margin-top: 40px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1.5%;
  font-weight: 700;
}

.desc {
  margin-top: 24px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1.5%;
}

.button {
  height: 30px;
  margin-top: 24px;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1.5%;
  color: #18a0fb;

  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 20px 0;
  }

  .group {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoGroup {
    align-items: center;
  }

  .group img {
    width: 85px;
    height: 85px;
  }

  .title,
  .desc,
  .button {
    text-align: center;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .group {
    height: auto; /* 높이 자동 조정 */
  }

  .infoGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }

  .group img {
    width: 60px;
    height: 60px;
  }

  .title,
  .desc,
  .button {
    font-size: 16px;
    margin-top: 10px;
  }

  .desc {
    height: auto;
  }
}
