.container {
  width: 1680px;

  padding-bottom: 80px;
}

.title {
  /* width: 750px; */
  height: 71px;
  margin-top: 120px;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -1.5%;
}

.filterContainer {
  display: flex;
  gap: 20px;
}

.filter {
  width: 408px;
  height: 50px;
  margin-top: 60px;

  border: 1px solid #000;
  border-radius: 25px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.option {
  width: 64px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 25px;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -1.5%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.option.selected {
  background-color: #000;
  color: #fff;
}

.dataGroup {
  margin-top: 68px;
  display: flex;
  gap: 40px;
}

.group {
  width: 400px;
  height: 415px;
  background-color: #d9d9d9;
}

.group img {
  width: 360px;
  height: 227.11px;
  border-radius: 5px;
  margin: 0 20px;
}

.top {
  margin: 15px 20px 9px;
  display: flex;
  justify-content: space-between;
}

.city {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: -1.5%;
}

.year {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: -1.5%;
}

.desc {
  margin: 19.89px 20px 0;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  letter-spacing: -1.5%;
}
