.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 0 80px;
}

.title {
  margin: 120px 0 0 20px;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -1.5%;
}

.filterContainer {
  display: flex;
  margin: 60px 0 0 20px;
  gap: 25px;
}

.continentFilter {
  height: 50px;

  border: 1px solid #000;
  border-radius: 25px;
  padding: 5px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.continentFilter .option {
  width: 64px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 25px;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -1.5%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.continentFilter .option.selected {
  background-color: #000;
  color: #fff;
}

.yearFilter {
  height: 50px;

  border: 1px solid #000;
  border-radius: 25px;
  padding: 5px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: #fff;
}

.yearItem {
  display: flex;
  align-items: center;
}

.yearFilter .option {
  width: 40px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 50%;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;

  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.yearFilter .option.selected {
  background-color: #000;
  color: #fff;
}

.yearFilter .bar {
  width: 115px;
  height: 10px;
  background-color: #999;
  margin-left: -15px;
  margin-right: -15px;
  z-index: -1;
  transition: background-color 0.3s ease;
}

.yearFilter .bar.selectedBar {
  background-color: #000;
}

.dataGroup {
  width: 100%;
  max-width: 1680px;
  margin-top: 68px;
  display: flex;
  gap: 30px;
}

.group {
  position: relative;
  flex: 1 1 calc(25% - 50px);
  max-width: calc(25% - 50px);
  height: 415px;
  background-color: #d9d9d9;
  cursor: pointer;
  padding: 10px 20px;
}

.group:hover::after {
  content: "Read More";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.group img {
  width: 100%;
  height: 227px;
  border-radius: 5px;
  display: flex;
}

.top {
  margin: 15px 0px 9px;
  display: flex;
  justify-content: space-between;
}

.city {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: -1.5%;
}

.year {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: -1.5%;
}

.desc {
  margin: 19.89px 0px 0;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  letter-spacing: -1.5%;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
  position: relative;
  width: 800px;
  height: 830px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1001;
}

.modalContent .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;

  border: none;
  background: none;

  cursor: pointer;
}

.modalContent img {
  width: 100%;
  height: 454.22px;
  border-radius: 5px;
  margin: 0;
}

.modalContent .top {
  margin: 30px 20px 18px;
  display: flex;
  justify-content: space-between;
}

.modalContent .city {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -1.5%;
}

.modalContent .year {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -1.5%;
}

.modalContent .desc {
  margin: 39.78px 20px 0;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 25.805px;
  letter-spacing: -1.5%;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dataGroup {
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
  }

  .group {
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }

  .title {
    font-size: 36px;
    line-height: 54px;
    margin: 80px 0 0 20px;
  }

  .filterContainer {
    margin: 30px 0 0 20px;
    gap: 20px;
  }

  .continentFilter {
    width: 100%;
    max-width: 350px;
    padding: 5px;
  }

  .continentFilter .option {
    width: 48px;
    height: 32px;
    padding: 5px 8px;
    font-size: 14px;
  }

  .yearFilter {
    width: 100%;
    max-width: 350px;
    padding: 5px;
  }

  .yearFilter .option {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .yearFilter .bar {
    width: 80px;
  }

  .dataGroup {
    width: 100%;
    max-width: 1200px;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .group {
    position: relative;
    flex: 1 1 calc(50% - 50px);
    max-width: calc(50% - 50px);
    height: auto;
    padding: 20px;
    background-color: #d9d9d9;
  }

  .group img {
    width: 90%;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    height: 227px;
  }

  .top {
    width: 90%;
    margin: 15px auto 9px;
  }

  .modalContent {
    width: 80%;
    height: auto;
    max-width: 1000px;
    padding: 20px;
  }

  .modalContent img {
    height: auto;
  }

  .modalContent .city,
  .modalContent .year {
    font-size: 24px;
    line-height: 30px;
  }

  .modalContent .desc {
    font-size: 18px;
  }
}

@media (max-width: 899px) {
  .container {
    width: 100%;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dataGroup {
    max-width: 900px;
    margin-top: 32px;
  }

  .title {
    font-size: 28px;
    line-height: 42px;
    margin: 60px 0 0 10px;
  }

  .filterContainer {
    flex-direction: column;
    margin: 20px 0 0 20px;
    gap: 15px;
  }

  .continentFilter {
    width: 100%;
    max-width: 300px;
    height: 32px;
  }

  .continentFilter .option {
    width: 40px;
    height: 24px;
    padding: 4px 6px;
    font-size: 12px;
  }

  .yearFilter {
    width: 100%;
    max-width: 300px;
    height: 32px;
  }

  .yearFilter .option {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }

  .yearFilter .bar {
    width: 60px;
  }

  .dataGroup {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .group {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 15px;
    background-color: #d9d9d9;
  }

  .group img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .modalContent {
    width: 75%;
    height: auto;
    max-width: 800px;
    padding: 15px;
  }

  .modalContent img {
    height: auto;
  }

  .modalContent .city,
  .modalContent .year {
    font-size: 20px;
    line-height: 26px;
  }

  .modalContent .desc {
    font-size: 16px;
  }
}
