.container {
  position: relative;
  width: 100%;
  max-width: 1680px;
  height: 740px;
  margin: 110px auto 0;
  color: #fff;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.5;
}

.textGroup {
  position: relative;
  padding: 152px 80px 0;
  z-index: 2;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-align: center;
}

.desc {
  margin-top: 23px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1.5%;
  text-align: center;

  color: #fff;
  opacity: 0.8;
}

.line {
  width: 100%;
  max-width: 1520px;
  height: 1px;
  margin: 32px auto;

  background-color: #fff;
  opacity: 0.5;
}

.small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1.5%;
  text-align: center;

  color: #fff;
  opacity: 0.6;
}

.inputGroup {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 95px auto 0;
  z-index: 2;
}

.boxContainer {
  width: 100%;
  margin: 16px 0;
}

.text {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -1.5%;
  text-align: center;
}

.box {
  border: 1px solid #fff;
  border-radius: 7px;
  margin: 16px 0 0;

  display: flex;
  align-items: center;
  padding: 0 10px;
}

.box.valid {
  border-color: #00c300;
}

.box.invalid {
  border-color: #ff6633;
}

.input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: none;
  border: none;
  color: #fff;
  outline: none;
}

.input::placeholder {
  color: #fff;
}

.inputGroup img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.inputGroup img.valid {
  cursor: pointer;
}

.inputGroup img.invalid {
  filter: brightness(50%);
  pointer-events: none;
  cursor: default;
}

.text {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -1.5%;
  text-align: center;
}

.error {
  margin: 9px 0 0;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -1.5%;
  color: #ff6633;
}

@media (max-width: 1200px) {
  .container {
    margin-top: 60px;
    height: 560px;
  }

  .textGroup {
    padding: 96px 20px 0;
  }

  .title {
    font-size: 22px;
    line-height: 34px;
  }

  .desc {
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
  }

  .line {
    margin: 20px 0;
  }

  .small {
    font-size: 13px;
    line-height: 20px;
  }

  .inputGroup {
    margin: 50px auto 0;
  }

  .box {
    max-width: 500px;
    margin-top: 20px;
  }

  .input {
    height: 45px;
    font-size: 14px;
  }

  .inputGroup img {
    width: 28px;
    height: 28px;
  }

  .error {
    margin: 10px 0 0;
  }
}

@media (max-width: 899px) {
  .container {
    margin-top: 30px;
  }

  .textGroup {
    padding: 80px 10px 0;
  }

  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .desc {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
  }

  .line {
    margin: 15px 0;
  }

  .small {
    font-size: 12px;
    line-height: 18px;
  }

  .inputGroup {
    max-width: 400px;
    margin: 30px auto 0;
  }

  .box {
    margin-top: 10px;
  }

  .input {
    height: 40px;
    font-size: 14px;
  }

  .inputGroup img {
    width: 24px;
    height: 24px;
  }

  .error {
    margin: 8px 0 0;
  }
}
