.body {
    margin: 10px 40px;
    padding: 0;
}

.typewriter {
    display: inline-flex;
}

.title {
    margin: 0 0 20px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation:
        typing 1s steps(21) forwards,
        blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.button-container,
.card-container,
.input-container,
.navigation-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button-wrap,
.card-wrap,
.navigation-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
}

.input-wrap {
    width: 90%;
    max-width: 20rem;
    height: 2.5em;
    position: relative;
}

.navigation-container {
    background-color: var(--clr);
    padding: 40px;

    h2 {
        color: #fff;
        margin-bottom: 30px;
    }
}
